<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis 환경설정, DB를 편하게 쓰려고 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<environments default="mybatis_test">
		<environment id="mybatis_test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED"><!-- connection pool의 일종 -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@tlaqerkcca7j08fz_high?TNS_ADMIN=/Users/moonone/Wallet_TLAQERKCCA7J08FZ" />
				<property name="username" value="admin" />
				<property name="password" value="Koo04071104@" />
			</dataSource>
		</environment>
	</environments>
	
	
	 <mappers>
      <mapper resource="com/developer/users/users.xml"></mapper>
  	 </mappers>

</configuration>